!---- XFT Font Settings (Make Fonts Great Again) ----!

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!---- XTERM Settings ----!

XTerm*boldFont: CaskaydiaCove Nerd Font:style=Regular:size=14:autohint=true:dpi=96
XTerm*faceName: CaskaydiaCove Nerd Font:style=Regular:size=14:autohint=true:dpi=96
XTerm*boldMode: true
XTerm*boldIsBright: false
XTerm*locale: true

XTerm*background: #1b1e2b
!---- UXTERM Settings ----!

UXTerm*boldFont: CaskaydiaCove Nerd Font:style=Regular:size=15:autohint=true:dpi=96
UXTerm*faceName: CaskaydiaCove Nerd Font:style=Regular:size=15:autohint=true:dpi=96
UXTerm*boldMode: false
UXTerm*boldIsBright: false
UXTerm*locale: true

!---- URXVT Settings ----!

URxvt*termName: xterm-256color
URxvt*letterSpace: 0
URxvt*font: xft:JetBrainsMono Nerd Font:size=13:style=Medium, xft:CaskaydiaCove Nerd Font:size=13:style=Regular, xft:JoyPixels:pixelsize=14
URxvt*scrollBar: false
URxvt*depth: 32
URxvt*sizeHints: true
URxvt*background: [90]#1b1e2b
URxvt*internalBorder: 4
URxvt*perl-ext:
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.keysym.C-Down:  resize-font:smaller
URxvt.keysym.C-Up:    resize-font:bigger
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.url-launcher: chromium
URxvt.matcher.button: 1
URxvt*underlineURLs: true
URxvt*urlButton: 1
URxvt*intensityStyles: false
URxvt*cursorColor: #c387ea 
URxvt.geometry: 80x-1
!--- sxiv Settings ----!

Sxiv.background: #1b1e2b
Sxiv.foreground: #719eff
Sxiv.font: FiraCode Nerd Font:style=Medium:size=9:autohint=true:rgba=rgb:lcdfilter=lcddefault

!--- st (suckless) Settings ----!

st.alpha: 0.90
st.font: CaskaydiaCove Nerd Font:size=13:style=Regular:autohint=true:dpi=96
st.borderpx: 4
st.minlatency: 2
st.maxlatency: 8

! special
*.foreground:   #a8b4ff
*.background:   #1b1e2b
*.cursorColor:  #c387ea

! black
*.color0:       #435470
*.color8:       #4c5063

! red
*.color1:       #f07178
*.color9:       #ff8b92

! green
*.color2:       #b7e07c
*.color10:      #d9ff9e

! yellow
*.color3:       #ffb26b
*.color11:      #ffc185

! blue
*.color4:       #719eff
*.color12:      #86c4ff

! magenta
*.color5:       #c387ea
*.color13:      #dea2ff

! cyan
*.color6:       #82dbff
*.color14:      #9af6ff

! white
*.color7:       #d0d0d0
*.color15:      #ffffff

